<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
          <input v-on:click="calc" type="text" v-model="result" placeholder="0">
          <button v-on:click="input(num)" v-for="num in numbers">{{num}}</button>
          <button v-on:click="input(op)" v-for="op in operations">{{op}}</button>
          <button v-on:click="reset" >C</button>
          <button v-on:click="calc">=</button>
    </div>
    <div id="table">
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Жанр</th>
                    <th>Формат</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td>{{item.название}}</td>
                    <td>{{item.жанр}}</td>
                    <td>{{item.формат}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="vuejs.js"></script>
</html>